@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .btn-primary {
      @apply py-1.5 px-3 text-center bg-blue-700 rounded-md text-white;
    }
}

#taddress-logo{
  max-height: 51.99px;
  max-width: 170px; 
}

#our-service-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px;
}







